#version=RHEL7
text
# System authorization information
auth --enableshadow --passalgo=sha512

# Network url
{% if 'nfs' in inventory_hostname %}
nfs --server=qa.centos.org --dir=/srv/mirrors/qa.centos.org/centos/7/os/x86_64/
{% endif %}
{% if 'http' in inventory_hostname %}
url --url="http://qa.centos.org/centos/7/os/x86_64/"
{% endif %}
{% if 'ftp' in inventory_hostname %}
url --url="ftp://qa.centos.org/qa.centos.org/centos/7/os/x86_64/"
{% endif %}

{% if 'iso' in inventory_hostname %}
cdrom
{% endif %}

#Run the Setup Agent on first boot
firstboot --disable
#ignoredisk --only-use=sda
# Keyboard layouts
# old format: keyboard be-latin1
# new format:
keyboard --vckeymap=be-latin1 --xlayouts='us'
# System language
lang en_GB.UTF-8

# Network information
network --activate  --bootproto=static --hostname={{ inventory_hostname }} --ip={{ ip }} --netmask={{ vbox_guest_netmask}} --nameserver={{ vbox_guest_nameserver }} --gateway={{ vbox_guest_gateway }}
# Root password
rootpw --iscrypted $6$2qN9NGjFY52arN5v$QRB7gSG6CYsS5ADNfFOx6MEj8j8tENWXeRNzVyzAvf.sjHnW1/92e8GCxerW0tUUTrCUecYwQbjwb6ZEvftpy0
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/London --isUtc --ntpservers=0.rhel.pool.ntp.org,1.rhel.pool.ntp.org,2.rhel.pool.ntp.org,3.rhel.pool.ntp.org
# System bootloader configuration
#bootloader --location=mbr --boot-drive=sda
bootloader --location=mbr 
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel 

repo --name=qa-updates --baseurl={{ http_mirror_baseurl }}/{{ centos_dist }}/updates/{{ centos_arch }}/

# reboot at the end
reboot

%packages
@core
chrony

%end


%post

mkdir /root/.ssh
echo "ssh-dss AAAAB3NzaC1kc3MAAACBAKfpC9qHZqt+oBg4dU3uYCldKEZQhepkm+jPuSFCawJZSFQag8zrpUnVuC03O7ExwJEReVhutY0Ta3H+UUKk82MBLLM1dDlgqKauWS+d5mAQftuuPZplsYAuonXO/PEbyHvgNbfYUq1jlw6jcs5u1x81WkyUPjnsyssl9b+YWgG5AAAAFQDNa5D11x1zpYgbSCmk2aL77pFdAwAAAIAVqb+TCgth7Xfuo6k7UiU8tkgDSn8F+EFUar6buhBgziPi69CjW6QQvpkqx5sV3Z76e+ADjBIjNp7UTKF59BIUe8ZcatL2MpHPH5SlZkvcyE61DII2CvTck4PC2hOqvr+r8id1mOfpTM9rtq5YeulMOlfdG7jhtf/PgnFWyWxYzQAAAIBvlDZucWwfMElKodytAi8Pa2iZeITgIRffCGFiMV/qj9Yslai25d3ufexkgaQITQY5V17PZi6v8ofBgt/fqOYeE7MNFsJzVQEDM7dVoyMyDPh3Xg19NrysqzfRhKMIsqArK3PqZcklj9dPRvxRqrzkELpneiQXnsWHVRR4GajcTg== qa@admin.bc.dev.centos.org" >> /root/.ssh/authorized_keys
chmod 700 /root/.ssh
chmod 600 /root/.ssh/* ; chcon -v -R -t ssh_home_t /root/.ssh**

%end
