#version=RHEL8
ignoredisk --only-use=vda
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --all --initlabel

{% if 'aarch64' in inventory_hostname %}
part /boot/efi --fstype="vfat" --ondisk=vda --size=200
{% endif %}

{% if 'ppc' in inventory_hostname %}
part prepboot --asprimary --fstype=prepboot --size=10
part /boot --fstype="ext4" --size=1024
part pv.8 --fstype="lvmpv" --size=6000 --grow
volgroup vg_{{ inventory_hostname_short}} --pesize=4096 pv.8
logvol swap  --fstype="swap" --size=2112 --name=swap --vgname=vg_{{ inventory_hostname_short }}
logvol /  --fstype="ext4" --size=3000 --grow --name=root --vgname=vg_{{ inventory_hostname_short }}

{% else %}
part /boot --fstype="ext4" --ondisk=vda --size=1024
part pv.14 --fstype="lvmpv" --ondisk=vda --size=10000 --grow
volgroup vg_{{ inventory_hostname_short }} --pesize=4096 pv.14
logvol /  --fstype="ext4" --size=8200 --grow --name=root --vgname=vg_{{ inventory_hostname_short }}
logvol swap  --fstype="swap" --size=2136 --name=swap --vgname=vg_{{ inventory_hostname_short }}
{% endif %}


# Use text mode install
text
# Use network installation
url --url="http://qa.centos.org/centos/8/BaseOS/{{ centos_arch }}/os/"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts=''
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --ip={{ ip }} --netmask={{ netmask }} --nameserver={{ nameserver }} --gateway={{ gateway }} --activate
network  --hostname={{ inventory_hostname }}
# Root password
rootpw --iscrypted $6$YRLM3XoE/H3XIxAr$uKqW3VSk67hVrxnsCqzJLDQidIZdBW2eyZ3BnxORfxmwUEjrUezBF0woxMlzelnxSWvure5Vzc1sTS9e1OoLH/
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Etc/UTC --isUtc
reboot

%packages
@^minimal-environment
@standard

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post

grep -q "enabled=1" /etc/yum.repos.d/CentOS-Base.repo

if [ "$?" -ne "0" ] ; then
cat > /etc/yum.repos.d/CentOS-Base.repo << EOF
[BaseOS]
name=BaseOS-local
baseurl=http://qa.centos.org/centos/8/BaseOS/x86_64/os/
enabled=1
gpgcheck=0

[AppStream]
name=AppStream-local
baseurl=http://qa.centos.org/centos/8/AppStream/x86_64/os/
enabled=1
gpgcheck=0

[Devel]
name=Devel-local
baseurl=http://qa.centos.org/centos/8/Devel/x86_64/os/
enabled=1
gpgcheck=0

EOF
fi

mkdir /root/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDUyaH+XuDDERZCF3B55+e/kVr3ly7jFjMp53dfYUZro7MZdV0JwSMk+6w1Wo4qF1SsVECpUm5hYtoVMAzcWt0WhmBnaflmNNZjTn7RGdA/jqjOe5dVGHDKQkRdvFL0hHP4AJUb3kjKbEfhql1JUsoOX7xFtf873/qi8699o3cCg11ln3SzbmnsVPVB0XT9mnavwgz+/CJmYGVBYfxFbObS/N5ENvdQLMk5N64E7D/ClAE3b69JprB8cKygMWuqJjL67EtvV/KsTd2M02N3jtIP797LdAZvSNt4FwAm41yb3W6vajS0NAk461ytt+dnnDVchCj9GqscwEJRCsuliWlf qa@qa.centos.org" >> /root/.ssh/authorized_keys
chmod 700 /root/.ssh
chmod 600 /root/.ssh/* ; chcon -v -R -t ssh_home_t /root/.ssh**

{% if enable_CR == "1" %}
sed -i s/enabled=0/enabled=1/ /etc/yum.repos.d/CentOS-CR.repo
sed -i s/gpgcheck=1/gpgcheck=0/ /etc/yum.repos.d/CentOS-CR.repo
{% endif %}


%end

