set force_conservative 0  ;# set to 1 to force conservative mode even if
			  ;# script wasn't run conservatively originally
if {$force_conservative} {
	set send_slow {1 .1}
	proc send {ignore arg} {
		sleep .1
		exp_send -s -- $arg
	}
}



set timeout -1
spawn ssh -o Ciphers=3des-cbc {{ blade_mm_user }}@{{ blade_mm_hostname }}
match_max 100000
expect -exact "{{ blade_mm_user }}@{{ blade_mm_hostname }}'s password: "
send -- "{{ blade_mm_pass }}\r"
expect -exact "\r
\r
system> "
send -- "env -T blade\[{{ blade_mm_slot }}\]\r"
expect -exact "env -T blade\[{{ blade_mm_slot }}\]\r"
expect -exact "
OK\r
system:blade\[{{ blade_mm_slot }}\]> "
send -- "power -on\r"
expect -exact "power -on\r"
expect -exact "
OK\r
system:blade\[{{ blade_mm_slot }}\]> "
send -- "exit\r"
expect eof

